__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/
.venv/
.conda/
env/
ENV/
node_modules/
exports/
server.log
*.log
*.xlsx
*.csv
data/students.json
*.swp
.DS_Store
.vscode/
.idea/
*.exe
main
dist/
build/
.pytest_cache/
.env
/.env
*.spec
